<div class="col-md-12">
    <h2>Създаване на нова категория/тема</h2>
    <p>Моля, попълнете всички полета</p>
</div>

<form #form="ngForm" (ngSubmit)="newThemeHandler(form)">
    <div class="row space-top">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-control-label" for="themeName">Категория/Тема</label>
                <input class="form-control valid" id="themeName" #nameInput="ngModel" ngModel type="text" required minlength="2">
            </div>
        </div>
        <ng-container *ngIf="nameInput.touched">
            <p class="error" *ngIf="nameInput.errors?.['required']">
                Въведете име на категорията!
            </p>
            <p class="error" *ngIf="nameInput.errors?.['minlength']">
                Категорията трябва да бъде поне 2 знака!
            </p>
        </ng-container>
        <button type="button" routerLink="/theme/recent">Назад</button>
        <button type="submit" [disabled]="form.invalid">Създай категория</button>
    </div>
</form>

<br />