<!-- reactive form -->
<div>
    <form [formGroup]="form" class="register" (ngSubmit)="registerHandler()">

        <fieldset>
            <h2>Регистрирай се:</h2>



            <!-- email -->
            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input type="email" id="email" formControlName="email" placeholder="email" email required>
            </p>
            <ng-container *ngIf="form.get('email')?.touched">
                <p class="error" *ngIf="form.get('email')?.errors?.['required'];">
                    Въведете email!
                </p>
                <p class="error" *ngIf="form.get('email')?.errors?.['appEmailValidator'];">
                    Невалиден email!
                </p>
            </ng-container>
            <!-- username -->

            <p class="field field-icon">
                <label for="username"><span><i class="fas fa-user"></i></span></label>
                <input class="input-error" type="text" id="username" formControlName="username" placeholder="username"
                    required>
            </p>
            <ng-container *ngIf="form.get('username')?.touched">

                <p *ngIf="form.get('username')?.errors?.['required']" class="error">
                    Въведете потребителско име!
                </p>
                <p *ngIf="form.get('username')?.errors?.['minlength']" class="error">
                    Потребителско име трябва да е поне 2 знака!
                </p>
            </ng-container>



            <ng-container formGroupName="pass">
                <!-- password -->
                <p class="field field-icon">
                    <label for="password"><span><i class="fas fa-lock"></i></span></label>
                    <input type="password" id="password" formControlName="password" placeholder="******">
                </p>
                <ng-container *ngIf="form.get('pass')?.get('password')?.touched">
                    <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['required'];" class="error">
                        Въведете парола!
                    </p>
                    <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['minlength'];">
                        Паролата трябва да бъде поне 4 знака!
                    </p>
                </ng-container>
                <!-- rePassword -->
                <p class="field field-icon">
                    <label for="repass"><span><i class="fas fa-lock"></i></span></label>
                    <input type="password" formControlName="repass" id="repass" placeholder="******">
                </p>
                <p *ngIf="form.get('pass')?.errors?.['sameValueGroupValidator'] && form.get('pass')?.get('repass')?.touched"
                    class="error">Repeat Password does not match password!</p>
            </ng-container>

            <button [disabled]="form.invalid">Регистрирай се</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/auth/login">Влез</a>
            </p>

        </fieldset>
    </form>
</div>