<div class="container">
    <div class="profile">
        <div class="cat">
            <div class="ear ear--left"></div>
            <div class="ear ear--right"></div>
            <div class="face">
              <div class="eye eye--left">
                <div class="eye-pupil"></div>
              </div>
              <div class="eye eye--right">
                <div class="eye-pupil"></div>
              </div>
              <div class="muzzle"></div>
            </div>
          </div>
        <h3>Твоите рецепти, {{username}}</h3>
       
        <div class="flex">
            <p>Email: </p>
            <p>{{email}}</p>
        </div>
        
        
    </div>
    <div *ngIf="themes?.length==0">Вие, {{username}}, нямате още публикувани рецепти</div>
    <div *ngIf="themes?.length>0">
          <ul *ngFor="let theme of themes; let i = index">
            <li><a routerLink="/themes/{{theme?._id}}">Рецепта {{i+1}}</a></li>
          </ul>
        </div>
</div>