<div class="container">
  <section class="search1">
    <br />
    <br />
    <h5>Търсене по заглавие</h5>
 
    <mat-form-field class="example-form-field">
      <mat-label>Въведете заглавие/бг/ или изчистете с'х'</mat-label>
      <input matInput type="text" [(ngModel)]="searchInput" />
      <button
        *ngIf="searchInput"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchInput = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <br />
    <br />
    <h5>Резултати от търсене по заглавие...</h5>

    <ul class="cards" *ngFor="let post of themes | search : searchInput">
      <li class="card">
        <img
          src="{{ post.img }}"
          alt="{{ post.title | uppercase }}"
          style="width: 100%"
        />
        <h6>{{ post.title }}</h6>
        <span class="created"
          >Публкувана в: {{ post.created_at.substring(0, 10) }}</span
        >
        <p class="time">Време на приготвяне в минути: {{ post.time }}</p>
        <p>Съставки: {{ post.ingredients | slice }}</p>
        <p>Начин на приготвяне: {{ post.text | slice }}</p>
        <a routerLink="/themes/{{ post?._id }}">Вижте цялата рецепта...</a>
      </li>
    </ul>
  </section>
  <section class="search2">
    <br />
    <br />
    <h5>Търсене по категория</h5>
    <mat-form-field>
      <mat-label>Изберете категория</mat-label>
      <mat-select [(ngModel)]="searchInput1">
        <mat-option *ngFor="let item of categories" [value]="item">{{
          item
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <br />
    <h5>Резултати от търсене по категория...</h5>

    <ul class="cards" *ngFor="let t of themes | search2 : searchInput1">
      <li class="card">
        <img
          src="{{ t.img }}"
          alt="{{ t.title | uppercase }}"
          style="width: 100%"
        />
        <h6>{{ t.title }}</h6>
        <span class="created"
          >Публкувана в: {{ t.created_at.substring(0, 10) }}</span
        >
        <p class="time">Време на приготвяне в минути: {{ t.time }}</p>
        <p>Съставки: {{ t.ingredients | slice }}</p>
        <p>Начин на приготвяне: {{ t.text | slice }}</p>
        <a routerLink="/themes/{{ t?._id }}">Вижте цялата рецепта...</a>
      </li>
    </ul>
  </section>
</div>
