.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-inline: 20px;
    padding-block: 100px;

  
}
.search1, .search2{
    display: flex;
    flex-direction: column;
   
}

hr{
  font-size: 1px;
  border: 3px solid white;

}

.cards{
    display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  
    // align-items: center;
    list-style: none;
   margin: 0 auto;
  margin-block: 30px
    
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 240px;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
    padding-inline: 20px;
    display: inline-block;
  }
  h5{
    color:#6c8b47;
    font-size: 20px;
 
  }
  
  .time {
    color: grey;
    font-size: 16px;
  }
  
  .card a {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: lightgreen;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card a:hover {
    opacity: 0.7;
  }

  .container {
  display: flex;
  flex-wrap: wrap-reverse;
  
  
  }
  .container .cards .card .created {
  font-size: 9px;
  font-style: italic;
  }
  .example-form-field {
    width: 380px;
  }
  
  @media screen and (max-width: 400px) {
  
    .cards{
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
  
    }
  }
  @media screen and (min-width: 400px) {

    .cards{
        flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  
  
  
    }
  }
  .gradient-border {
    --border-width: 3px;
  

    border-radius: var(--border-width);
  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
      
       
    
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: moveGradient 10s alternate infinite;
    }
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  
  