<div class="container">
  <h2>{{ theme?.title }}</h2>
  <!-- TODO after first post theme - see workshop forms last 20 min  -->
  <a *ngIf="isOwner">Коригирай категорията</a>
  <ul class="cards" *ngFor="let post of theme?.posts">
    <li class="card">
      <img src="{{ post?.img }}" alt="{{ theme?.title }}" style="width: 100%" />
      <h6>{{ post?.title }}</h6>
      <p class="time">Време на приготвяне в минути: {{ theme?.time }}</p>
      <p>Съставки: {{ theme?.ingredients }}</p>
      <p>Начин на приготвяне: {{ theme?.text }}</p>
      <a>Вижте цялата рецепта...</a>
    </li>
  </ul>
</div>
