.label {
    color: white;
    padding: 10px;
    font-family: Arial;
    border-radius: 5px;
    
  }
  a{
    text-decoration: none;
  }
  .success {
    background-color: lightgreen;
} 

li:hover{
    background-color: #04AA6D;
}
h2{
    color:#6c8b47;
    text-align: center;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  // align-items: center;
  list-style: none;

  
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 240px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 5px;
  padding-inline: 20px;
  display: inline-block;

}
h6{
  color:#6c8b47
}

.time {
  color: grey;
  font-size: 16px;
}

.card a {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: lightgreen;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a:hover {
  opacity: 0.7;
}
h2{
  color:#6c8b47

}