.label {
    color: white;
    padding: 10px;
    font-family: Arial;
    border-radius: 5px;
    
  }
  .card a, .card button {
    border: none;
    outline: 0;
    padding: 12px;
    
    color: white;
    background-color: lightgreen;
    text-align: center;
    cursor: pointer;
    width: 100px;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
  }
  .success {
    background-color: lightgreen;
} 

li:hover{
    background-color: #04AA6D;
}
h2{
    color:#6c8b47;
    text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 360px;
max-width: 700px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 5px;
  padding-inline: 20px;
  display: inline-block;

}
h6{
  color:#6c8b47;
  font-weight: 500;
}

.time {
  color: grey;
  font-size: 16px;
}



.card a:hover, .card button:hover {
  opacity: 0.7;
}
h2{
  color:#6c8b47

}
.container{
  display: flex;
  justify-content: center;
}
ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
