/*login register forms  */

form.new-theme {
    display: flex;
    flex-direction: column;
    min-width: 360px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em auto;
    
}


.new-theme h2 {
    padding-top: 0;
    border-bottom: none;
    color: #6c8b47;
}

.new-theme p {
    padding-bottom: 0;
    padding-top: 1.5rem;
}

.new-theme input {
    flex: 0 1 100%;
    border: 1px solid green;
    padding: 0.3em;
      border-radius: 0.3em;
  
}

.new-theme select {
    border-color:green;
}

.new-theme button{
    color: white;
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    margin-top: 1.5rem;
    width: 60%;
    outline: none;
}



.new-theme a {
    color: green;
}

.new-theme a:hover {
    cursor: pointer;
}



.new-theme .field {
    display: flex;
    padding-bottom: 0;
}

/* errors  */

p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}


.new-theme label {
    color:green;

}
.input-field{
    display: inline-block;
 
}