<header>

    <a routerLink="/"> <img src="../../../assets/logo.jpg" alt=""></a>
    <h6><a routerLink="/">Бързо, лесно и вкусно за злоядковци</a></h6>


    <nav>
        <a routerLink="/" class="active">Начало</a>
        <a class="user" routerLink="/new-theme" >Създай категория</a>
        <a class="user" routerLink="/new-post" >Създай рецепта</a>
    
        <a class="guest" routerLink="/themes">Категории</a>
        <!-- <a class="guest" routerLink="/themes/:id">Рецепти</a> -->
        <a class="guest" routerLink="/posts">Всички pецепти</a>

        <a class="green" routerLink="/login" >Влез</a>
        <a  class="green" routerLink="/register">Регистрирай се</a>

        <a  class="green" routerLink="/profile" >Здравей, ....</a>
            <a class="green" routerLink="/logout" >Излез</a>
    </nav>

</header>