<header>
  <div>
    <a routerLink="/"> <img src="../../../assets/logo.jpg" alt="" /></a>
    <h1><a routerLink="/">Бързо, лесно и вкусно за злоядковци</a></h1>
  </div>
  <nav>
    <div class="show-menu">
      <a routerLink="/" class="active">Начало</a>

      <a class="guest" routerLink="/themes">Всички pецепти</a>
      <a *ngIf="isLoggedIn" class="user" routerLink="/themes/create-theme">Създай рецепта</a>
      <a class="guest" routerLink="/search">Търсене</a>
    </div>
    <div>
      <a *ngIf="!isLoggedIn" class="green" routerLink="/login">Влез</a>
      <a *ngIf="!isLoggedIn" class="green" routerLink="/register"
        >Регистрирай се</a>

      <a *ngIf="isLoggedIn" class="green" routerLink="/profile"
        >Здравей, {{ isLoggedIn ? username : "приятелю" }}</a>
      <a *ngIf="isLoggedIn" class="green" (click)="logout()">Излез</a>
    </div>
  </nav>
  <div class="small">
    <button mat-button [matMenuTriggerFor]="menu">
      <span class="material-symbols-outlined"> menu </span>
    </button>

    <mat-menu #menu="matMenu">
      <button routerLink="/" mat-menu-item>Начало</button>
      <button routerLink="/themes" mat-menu-item>Всички pецепти</button>
      <button *ngIf="isLoggedIn" routerLink="/themes/create-theme" mat-menu-item>Създай рецепта</button>
      <button routerLink="/search" mat-menu-item>Търсене</button>
    </mat-menu>
  </div>
</header>
