header{
    padding: 20px;
}


header img {
    height: 100px;
    width: 100px;
    margin-right: 8px;
    border-radius: 10px;
}

h1 a {
    font-size: 28px;
     text-decoration: none;
   

    color: orange;
}

h1 a:visited {
    color: #6c8b47;
}
h6 a:hover {
    color: white;
}

nav {
    display: flex;
   justify-content: space-between;

  
}


nav a {

    background-color: lightgreen;
    padding: 8px 16px;
    margin: 0 8px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    height: 24px;
 
    
}
nav a.green{
background-color: lightseagreen;
}

nav a:hover {
    background-color: #6c8b47;
    color: white;
}

a.active {
    background-color: #6c8b47;
    color: white;
}
nav div, h1{
    display: inline-block;
}

@media screen and  (max-width: 1000px) {
nav .show-menu {
    display: none ;
}
  }

  @media screen and  (min-width: 1000px) {
    .small {
        display: none;
    }
  }


