<header>

    <a routerLink="/"> <img src="../../../assets/logo.jpg" alt=""></a>
    <h6><a routerLink="/">Бързо, лесно и вкусно за злоядковци</a></h6>


    <nav>
        <a routerLink="/" class="active">Начало</a>
        <a class="user" routerLink="/theme/create" >Създай категория</a>
        <a class="user" routerLink="/theme/new" >Създай рецепта</a>
    
        <a class="guest" routerLink="/theme/list">Категории</a>
        <a class="guest" routerLink="/theme/catalog">Рецепти</a>

        <a class="green" routerLink="/auth/login" >Влез</a>
        <a  class="green" routerLink="/auth/register">Регистрирай се</a>

        <a  class="green" routerLink="/auth/profile" >Здравей, ....</a>
            <a class="green" routerLink="/auth/logout" >Излез</a>
    </nav>

</header>