<div class="container">
    <form class="login" action="" method="post">

        <fieldset>
            <h2>Влез в профила си:</h2>

            <p class="field field-icon">
                <label for="email">E-mail:</label>
                <input class="input-error" type="email" name="email" id="email" placeholder="john.doe@gmail.com" #inputEmail> 
            </p>
            <p class="error">
                Email is required!
            </p>

            <p class="error">
                  Невалиден E-mail!
            </p>

            <p class="field field-icon">
                <label for="password">Парола:</label>
                <input type="password" name="password" id="password" placeholder="******" #inputPassword>
            </p>
            <p class="error">
                Въведете парола!
            </p>
            <p class="error">
                Паролата трябва да е поне 5 знака!
            </p>

            <button (click)="login(inputEmail.value, inputPassword.value)">Влезте в профила си</button>

            <p class="text-center">
                Ако нямате профил?
                <a routerLink="/register">Регистрирайте се</a>
            </p>

        </fieldset>
    </form>
</div>
